
section {
    margin-top: 1rem;
    margin-bottom: 1rem;
}


/*Yearbook*/
#left-lineup-yearbook, #right-lineup-yearbook {
    max-height: 32%;
    overflow-y: scroll;
}
.yearbook-footer {
    font-size: 0.8em;
    height: 3rem;
    padding: 0.25rem;
    overflow: hidden;
}
.yearbook-card {
    border: none;
}
/*End Yearbook*/

/*Team Card*/
.team-card {

}

.table {
    font-size: 0.5em;
}

#stats-tab {
    padding: 0.5;
    border: none;
    overflow-x: scroll;
}

.table td, .table th {
    padding: 0.5rem;
}

.card-header {
    height: 100px;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.team-logo {
    width: 80px;
    height: 80px;
}

.rounded-circle {
    background-color: #f6f6f6;
}

#btnGroupDrop1 {
    background-color: #f82c1d;
    border-color: #f82c1d;
}

#nets-roster-btn, #set-roster-r, #left-lineup-confirm, #right-lineup-confirm {
   color: transparent;
   text-shadow: 0 0 5px rgba(197, 193, 193, 0.5);
}

/*Navbar*/
.navbar {
    background-color: #000000;
}

#postnav1{
    background-color: #FFFFFF;
    height: 0.15rem;    
}

#postnav2{
    background-color: #000000;
    height: 0.25rem;    
}
/*End Navbar*/


/*Footer*/
#prefooter {
    background-color: #FFFFFF;
    height: 0.35rem;
}

#prefooter1 {
    background-color: #000000;
    height: 0.5rem;
}

#prefooter2 {
    /*background-color: #474747;*/
    background-color: #FFFFFF;
    height: 0.35rem;
}

footer {
    background-color: #000000;
    height: 8rem;
}
/*End Footer*/

@media (max-width: 1000px) {
    #player_spacer {
    display: none;
  }
}

/*@media (min-width: 992px) {
  .col-lg-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
}*/